:root {
  --blue-color: #2196f3;
  --grey-text-color: #757575;
  --text-color: #212121;
  --grey-background: #2f303a;
  --grey-icon: #afb1b8;
}

body {
  font-family: "Roboto", "Raleway", "sans-serif";
  color: var(--text-color);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
}

/******************************** HEADER */
.top {
  border-bottom: 1px solid #ececec;
  padding-bottom: 25px;
}
.top .container {
  display: flex;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--blue-color);
  margin-right: 93px;
  padding-top: 24px;
}
.logo > span {
  color: #000000;
}

.menu-nav {
  display: flex;
  align-items: center;
  padding-top: 32px;
}
.agency-header,
.portfolio-header,
.contact-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text-color);
}
.agency-header,
.portfolio-header {
  margin-right: 46px;
}

.agency-header:hover,
.agency-header:focus,
.portfolio-header:hover,
.portfolio-header:focus,
.contact-header:hover,
.contact-header:focus {
  color: var(--blue-color);
}

.mail-top,
.phone-top {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey-text-color);
  text-decoration: none;
}

.icon-top {
  margin-right: 10px;
  fill: var(--grey-text-color);
}

.mail-top {
  margin-left: auto;
  margin-right: 50px;
  padding-top: 32px;
}
.icon-top:hover,
.icon-top:focus {
  fill: var(--blue-color);
}

.phone-top {
  display: flex;
  align-items: center;
}

.mail-top:hover,
.mail-top:focus,
.phone-top:hover,
.phone-top:focus {
  color: var(--blue-color);
}

.phone-top {
  padding-top: 32px;
}

/* HEADER */

/* BODY */
.banner-box {
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/backgrounimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 200px 0px;
}

.text-box {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 30px;
  display: block;
  text-align: center;
  margin: auto;
  width: 696px;
}
.button-box {
  background: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  padding: 10px 41px;
  display: block;
  margin: 0 auto;
}
.box-lorem {
  background: #ffffff;
}
.main-list {
  list-style: none;
  display: flex;
}
.main-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.lorem-ipsum-head {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.lorem-ipsum-text {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--grey-text-color);
}
.main-list-item:not(:last-child) {
  margin-right: 30px;
}

.text-about {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.about-pic {
  list-style: none;
  display: flex;
}

.about-pic-item:not(:last-child) {
  margin-right: 30px;
}

.team-box {
  background-color: #f5f4fa;
}

.text-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.team-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.team-list-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 10px;
}
.team-list-img {
  margin-bottom: 30px;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--grey-text-color);
  padding-bottom: 30px;
}

.team-list-social {
  list-style: none;
  display: flex;
  width: 206px;
  padding-top: 16px;
  justify-content: space-between;
  margin: auto;
}

.team-list-social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-list-social-links-icon {
  padding: 12px;
  fill: var(--grey-icon);
}

.team-list-social-links:hover,
.team-list-social-links:focus {
  background: var(--blue-color);
  border-radius: 50%;
}
.team-list-social-links:focus .team-list-social-links-icon {
  fill: #fff;
}

.team-list-social-links-icon:hover,
.team-list-social-links-icon:focus {
  fill: #fff;
}

/* **************** OUR CLIENTS */

.our-clients {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-clients-list {
  list-style: none;
  display: flex;
}

.our-clients-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--grey-icon);
  border-radius: 4px;
  margin-top: 50px;
}

.our-clients-list-item:not(:last-child) {
  margin-right: 30px;
}

.our-clients-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--grey-icon);
}

.our-clients-list-icon:hover,
.our-clients-list-icon:focus {
  fill: var(--blue-color);
  cursor: pointer;
}
.our-clients-list-item:hover,
.our-clients-list-item:focus {
  border: 1px solid var(--blue-color);
  cursor: pointer;
}

/* BODY */
/* BOTTOM */
.bottom {
  background-color: var(--grey-background);
  display: flex;
}
.bottom .logo {
  padding-top: 60px;
}
.bottom .logo > span {
  color: #ffffff;
}
.address-bottom,
.address-text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-bottom {
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 9px;
  width: 246px;
}

.address-text {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.address-text:hover,
.address-text:focus {
  color: var(--blue-color);
}

.address-text .phone {
  margin-top: 9px;
}
.bottom-main-list {
  list-style: none;
  display: flex;
}
.bottom-social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-main-list-item:first-child {
  margin-right: 70px;
}
.bottom-text-join-us {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.bottom-list-social-links-icon {
  padding: 12px;
  fill: #fff;
}
.bottom-list-social {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.bottom-list-social-links:hover,
.bottom-list-social-links:focus {
  background: var(--blue-color);
  border-radius: 50%;
}
.bottom-list-social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------PORTFOLIO-------- */

.portfolio-main .container {
  justify-content: center;
}
.button-list {
  list-style: none;
  display: flex;
  justify-content: center;
}
.button-list-item:not(:last-child) {
  margin-right: 8px;
}

.buttons-button-list {
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  margin-bottom: 56px;
  border: none;
}
.buttons-button-list:hover,
.buttons-button-list:focus {
  cursor: pointer;
  background-color: var(--blue-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.project-pictures {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--text-color);
  padding-top: 20px;
}
.project-name-item {
  background: #ffffff;
}
.project-name-item:hover,
.project-name-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.project-category {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--grey-text-color);
  padding: 0px 24px 20px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.project-name-item-img {
  display: block;
}
