.team {
  background-color: #f5f4fa;
  &__header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
  &-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    &__item {
      background: #ffffff;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
    }
    &__name {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.19;
      text-align: center;
      letter-spacing: 0.03em;
      color: $primaryTextColor;
      margin-bottom: 10px;
    }
    &__img {
      margin-bottom: 30px;
    }
    &__position {
      font-size: 16px;
      line-height: 1.19;
      text-align: center;
      letter-spacing: 0.03em;
      color: $textColorGrey;
      padding-bottom: 30px;
    }
  }
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover,
  &:focus {
    background: $primaryColor;
    border-radius: 50%;
    transition: $transition;
  }
}

.social-list__icon {
  padding: 12px;
  fill: $colorIcon;
  &:hover,
  &:focus {
    fill: #fff;
  }
}

.social-list__link:focus {
  .social-list__icon {
    fill: #fff;
  }
}
