.footer {
  background-color: var(--grey-background);
  display: flex;
}
.footer .logo {
  padding-top: 60px;
}
.footer .logo > span {
  color: #ffffff;
}
.address-bottom,
.address-text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-bottom {
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 9px;
  width: 246px;
}

.address-text {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  &:hover,
  &:focus {
    color: $primaryColor;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  & .phone {
    margin-top: 9px;
  }
}


.footer-list {
  list-style: none;
  display: flex;
}
.bottom-social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-list__item:not(:last-child) {
  margin-right: 70px;
}

.footer-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 10px;
}

.footer-social-list__icon {
  padding: 12px;
  fill: #fff;
}
.footer-social-list__item {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-social-list__item:hover .footer-social-list__link {
  background: $primaryColor;
  border-radius: 50px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-form {
  position: relative;
  &__email {
    width: 358px;
    height: 50px;
    background-color: var(--grey-background);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    padding-left: 16px;
    margin-top: 20px;
  }
}

.footer-btn {
  background: $primaryColor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 50px;
  display: block;
  position: absolute;
  left: 410px;
  top: 46px;
  &__icon {
    width: 24px;
    height: 24px;
    margin-left: 24px;
    vertical-align: middle;
  }
}


