label {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
}
input {
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal-form__name {
  margin-top: 12px;
  margin-bottom: 4px;
}

.modal-form__phone,
.modal-form__email,
.modal-form__comment {
  margin-bottom: 4px;
  margin-top: 10px;
}

textarea {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.modal-form__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 40px;
}
label > span,
textarea {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.666;
  letter-spacing: 0.01em;

  color: $textColorGrey;
}
input:focus,
textarea:focus {
  border: 1px solid $primaryColor;
  border-radius: 4px;
  outline: none;
}

.modal-form__text {
  text-align: center;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: $textColorGrey;
  margin-top: 20px;
  &-privacy--color {
    color: $primaryColor;
    text-decoration: underline;
    cursor: pointer;
  }
}

.modal-form__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 76px;
  background: $primaryColor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin: auto;
  margin-top: 30px;
  cursor: pointer;
}

.modal-form__icon-phone,
.modal-form__icon-name {
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 46px;
  left: 15px;
}
.modal-form__icon-email {
  padding: 3px 1.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 46px;
  left: 15px;
}
@each $icon in name, phone, email {
  .input:focus + .modal-form__icon-#{$icon} {
    fill: $primaryColor;
  }
}


.modal-form__text-privacy {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  &::before {
    display: inline-block;
    content: "";
    width: 16px;
    height: 15px;
    border: 1.5px solid #000;
    border-radius: 2px;
    margin-right: 7px;
    vertical-align: text-top;
    transition: $transition;
  }
}

.modal-form__checkbox:checked + .modal-form__text-privacy::before {
  background-color: $primaryColor;
  border: none;
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.visually-hidden {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
