@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    border-bottom: 1px solid #ececec;
    max-width: 480px;
    margin: 0 auto;
    &-navigation,
    &-contact__mail,
    &-contact__icon,
    &-contact__phone {
      display: none;
    }
  }
  .menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    position: sticky;
    left: 100%;
  }
  .menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #3f51b5;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

  .logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 24px;
    line-height: 1.667;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: $primaryColor;

    & > span {
      color: #000000;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .flex__container {
    display: flex;
  }
  .menu-toggle {
    display: none;
  }
  .header {
    &-right {
      margin-left: auto;
    }
    &-navigation {
      margin-left: 83px;
    }
    border-bottom: 1px solid #ececec;
    padding-bottom: 15px;
    max-width: 768px;
    margin: 0 auto;
    .header-navigation {
      display: flex;
      align-items: center;
      padding-top: 32px;
      position: relative;
      &__agency,
      &__portfolio,
      &__contact {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: $primaryTextColor;
      }
      &__agency,
      &__portfolio {
        margin-right: 46px;
      }
      &__agency:hover,
      &__agency:focus,
      &__portfolio:hover,
      &__portfolio:focus,
      &__contact:hover,
      &__contact:focus {
        color: $primaryColor;
      }
      &__agency--active::after {
        content: "";
        position: absolute;
        bottom: -29px;
        height: 4px;
        border-radius: 2px;
        width: 58px;
        background-color: $primaryColor;
        left: -1px;
        cursor: default;
        display: block;
      }

      &__portfolio--active::after {
        content: "";
        position: absolute;
        bottom: -29px;
        height: 4px;
        border-radius: 2px;
        width: 58px;
        background-color: $primaryColor;
        left: 99px;
        cursor: default;
      }
    }
    &-contact__mail,
    &-contact__phone {
      display: flex;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: $textColorGrey;
      text-decoration: none;
    }

    &-contact__icon {
      margin-right: 10px;
      fill: $textColorGrey;
    }

    &-contact__mail {
      padding-top: 32px;
    }

    &-contact__mail:hover {
      .header-contact__icon {
        fill: $primaryColor;
      }
    }
    &-contact__phone:hover {
      .header-contact__icon {
        fill: $primaryColor;
      }
    }

    &-contact__phone {
      display: flex;
      align-items: center;
    }

    &-contact__mail:hover,
    &-contact__mail:focus,
    &-contact__phone:hover,
    &-contact__phone:focus {
      color: $primaryColor;
    }

    &-contact__phone {
      padding-top: 10px;
    }
  }

  .logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: $primaryColor;
    padding-top: 24px;
    & > span {
      color: #000000;
    }
  }
}

@media screen and (min-width: 1200px) {
  .flex__container {
    display: flex;
  }
  .menu-toggle {
    display: none;
  }
  .header {
    max-width: 1600px;
    margin: 0 auto;
    &-right {
      display: flex;
      margin-left: auto;
    }
    border-bottom: 1px solid #ececec;
    padding-bottom: 25px;
    .header-navigation {
      display: flex;
      align-items: center;
      padding-top: 32px;
      position: relative;
      &__agency,
      &__portfolio,
      &__contact {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: $primaryTextColor;
      }
      &__agency,
      &__portfolio {
        margin-right: 46px;
      }
      &__agency:hover,
      &__agency:focus,
      &__portfolio:hover,
      &__portfolio:focus,
      &__contact:hover,
      &__contact:focus {
        color: $primaryColor;
      }
      &__agency--active::after {
        content: "";
        position: absolute;
        bottom: -29px;
        height: 4px;
        border-radius: 2px;
        width: 58px;
        background-color: $primaryColor;
        left: -1px;
        cursor: default;
        display: block;
      }

      &__portfolio--active::after {
        content: "";
        position: absolute;
        bottom: -29px;
        height: 4px;
        border-radius: 2px;
        width: 58px;
        background-color: $primaryColor;
        left: 99px;
        cursor: default;
      }
    }
    &-contact__mail,
    &-contact__phone {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: $textColorGrey;
      text-decoration: none;
    }

    &-contact__icon {
      margin-right: 10px;
      fill: $textColorGrey;
    }

    &-contact__mail {
      margin-left: auto;
      margin-right: 30px;
      padding-top: 32px;
    }

    &-contact__mail:hover {
      .header-contact__icon {
        fill: $primaryColor;
      }
    }
    &-contact__phone:hover {
      .header-contact__icon {
        fill: $primaryColor;
      }
    }

    &-contact__phone {
      display: flex;
      align-items: center;
    }

    &-contact__mail:hover,
    &-contact__mail:focus,
    &-contact__phone:hover,
    &-contact__phone:focus {
      color: $primaryColor;
    }

    &-contact__phone {
      padding-top: 32px;
    }
  }

  .logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: $primaryColor;
    margin-right: 93px;
    padding-top: 24px;
    & > span {
      color: #000000;
    }
  }
}
