.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
}
.flex__container {
  display: flex;
}

.social-list-flex {
  list-style: none;
  display: flex;
  width: 206px;
  padding-top: 20px;
  justify-content: space-between;
  margin: auto;
}