.container {
  width: 100%;
  padding: 0 10px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.flex__container {
  display: flex;
}
.button-hover:hover {
  fill: $primaryColor;
}
.link-active {color: $primaryColor;}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    padding: 0 15px;
    align-items: center;
    margin: 0 auto;
  }
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
    align-items: center;
    margin: 0 auto;
  }
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 15px;
    align-items: center;
    margin: 0 auto;
  }
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.social-list-flex {
  list-style: none;
  display: flex;
  width: 206px;
  padding-top: 20px;
  justify-content: space-between;
  margin: auto;
}
/*
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
}
.flex__container {
  display: flex;
}

.social-list-flex {
  list-style: none;
  display: flex;
  width: 206px;
  padding-top: 20px;
  justify-content: space-between;
  margin: auto;
}
*/
